.cardHeader {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: inherited;
  padding: 10px;
}

.cardHeader__userInfo {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  margin-left: 10px;
}

.cardHeader__userName {
  @apply text-base  font-semibold;
}

.cardHeader__userPosition {
  @apply text-xs text-gray-400;
}
